<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPath" value="."/>
    <add key="LauncherFileName" value="Launcher.exe"/>
    <add key="ProgramToRun" value="Game.exe"/>
    <add key="Server" value="localhost"/>
    <add key="HashServerPort" value="13337"/>
    <add key="FileServerPort" value="13338"/>
  </appSettings>
</configuration>