<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RootDir" value="C:/Users/Stian/Desktop/TEST/server"/>
    <add key="HashServerPort" value="13337"/>
    <add key="FileServerPort" value="13338"/>
    <add key="HashServerClientLimit" value="4"/>
    <add key="FileServerClientLimit" value="4"/>
  </appSettings>
</configuration>